<h2>Activity Timeline</h2>

<app-day-hour-graph [timestamps]="data" [numOfHours]="numOfHours" [numOfHeats]="numOfHeats"></app-day-hour-graph>

<h3>Settings:</h3>
<form id="settings-form" (change)="formChanged($event)">
  <div class="settings-item">
    <div class="label">Bucket size:</div>
    <div class="options-wrapper">
      <div class="option">
        <input type="radio" id="24" name="hour_size" value="24" [checked]="numOfHours === 24">
        <label for="24">24</label>
      </div>
      <div class="option">
        <input type="radio" id="12" name="hour_size" value="12" [checked]="numOfHours === 12">
        <label for="12">12</label>
      </div>
      <div class="option">
        <input type="radio" id="6" name="hour_size" value="6" [checked]="numOfHours === 6">
        <label for="6">6</label>
      </div>
      <div class="option">
        <input type="radio" id="3" name="hour_size" value="3" [checked]="numOfHours === 3">
        <label for="3">3</label>
      </div>
    </div>
  </div>

  <div class="settings-item">
    <div class="label">No. of Heats:</div>
    <input type="number" [min]="MIN_HEATS" [max]="MAX_HEATS" name="heats" [value]="numOfHeats" (change)="numOfHeatsChanged($event)">
  </div>
  <div class="error">{{numOfHeatsError}}</div>

  <div>* Exclude specific buckets by clicking them.</div>
</form>
